.dashboard_container {
  .dashboard__header {
    font-size: 20px;
  }

  .dashboard__content {
    padding: 10px;

    table,
    th,
    td {
      border: 1px solid rgb(175, 170, 170);
    }

    table {
      width: 100%;
    }

    &__no-item {
      padding: 10px;
    }
  }
}
