.home_container {
    display: flex;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
  
    .home__header {
      font-size: 20px;
    }
  
    .home__cotent {
      padding: 10px;
    }
  }
  